/*
Theme Name: Customizr child theme
Version: 1.0
Description: A child theme of Customizr
Template: customizr
*/

@import url("../customizr/style.css");

.navbar .nav > li > a, .navbar.notresp .nav > li > a:hover {
border-radius:      0px 0px 0px 0px;        /* No Rounded corners */
min-width:          100px;                  /* Fixed width */
min-height:         30px;                   /* Fixed height */
vertical-align:     middle;                 /* Align text */
}
/* Shading */
.navbar .nav > li > a, ul.dropdown-menu, ul.dropdown-submenu, 
.dropdown-menu > li > a, .dropdown-submenu > li > a, .dropdown-menu > li.current-menu-ancestor > a,
.navbar .nav > li > a:focus, .dropdown-menu > li > a:focus, .dropdown-submenu:focus > li > a {
border:             1px solid yellow;       /* Add a border */
color:              white;                  /* White text */
background-color:   black;                  /* Change black */
background-image:   linear-gradient(to bottom, grey, black);    /* Change grey, black */
background-image:   -webkit-linear-gradient (top, grey, black); /* Change grey, black */
background-repeat:  repeat-x;               /* Add shading */
}
.navbar .nav > li > a:hover, .dropdown-menu > li:hover > a, .dropdown-menu > li > a:hover, .dropdown-submenu:hover > li > a, 
.navbar .nav > li > a:focus, .dropdown-menu > li:focus > a, .dropdown-menu > li > a:focus, .dropdown-submenu:focus > li > a, 
.navbar .nav > li.current-menu-item > a, .navbar.notresp .nav > li.current-menu-ancestor > a,
.dropdown-menu > li.current-menu-item > a, .dropdown-menu > li.current-menu-ancestor > a,
.dropdown-submenu > li.current-menu-ancestor > a, .dropdown-menu > li:hover > a   {
color:              darkblue;                 /* Yellow Text on hover */
background-color:   grey;              /* Change darkgreen */
background-image:   linear-gradient(to bottom, #f9f9f9, #f9f9f9);    /* Change darkgreen, #9DB67E Light Green */
background-image:   -webkit-linear-gradient (top, #f9f9f9, #f9f9f9); /* Change darkgreen, #9DB67E Light Green */
}
/* Hide surrounds on 3-bar menu */
.navbar ul.nav, .navbar ul.dropdown-menu, .navbar ul.dropdown-submenu,
.navbar .nav-collapse.tc-hover-menu-wrapper {
background:         red;
background-color:   rgba(0, 0, 0, 0);       /* Transparent */
border:             none;
box-shadow:         none;
}
/* Fixed width on 3-bar menu */
.navbar.resp ul.nav, .navbar.resp ul.dropdown-menu, .navbar.resp ul.dropdown-submenu,
.navbar.resp .nav-collapse.tc-hover-menu-wrapper {
min-width:          180px;                  /* Adjust to need */
}


.bt-home, .bt-red            {border-top: 4px solid red;}
.bt-services, .bt-orange     {border-top: 4px solid orange;}
.bt-contact, .bt-yellow      {border-top: 4px solid yellow;}
.bt-nitrofill     {border-top: 4px solid green;}
.bt-about, .bt-blue          {border-top: 4px solid blue;}
.bt-booking, .bt-indigo      {border-top: 4px solid indigo;}


.navbar .nav > li > a, .dropdown-menu > li > a, .dropdown-submenu > li > a {
text-shadow:        none;                   /* Remove text shadow */
}
.navbar .nav > li > a:first-letter {
font-size:          17px;                   /* Change [17]px first letter */
/* If default is 1em/100%, try adjusting using 1.2em/120% or 0.8em/80% for example */
}

.navbar .nav > li > a:before, .dropdown-menu > li > a:before{
display:            inline-block;
-webkit-font-smoothing: antialiased;
font:               normal 22px/1 'Genericons';
vertical-align:     top;
padding-right:      2px;
}
.navbar .nav > li.bt-home > a:before {
content: '\f409';   /* Home */
}
.navbar .nav > li.bt-services > a:before {
content: '\f447';   /* services */
}
.navbar .nav > li.bt-nitrofill > a:before {
content: '\f445';   /* Normal */
}
.navbar .nav > li.bt-contact > a:before {
content: '\f50c';   /* Navbar */
}
.dropdown-menu > li.bt-booking > a:before {
content: '\f306';   /* Navbar */
}
.navbar .nav > li.bt-about > a:before {
content: '\f304';   /* Navbar */
}

/*Services*/

.home-improvement-grid [class*="span"] {
    border: 1px solid grey;
    text-align: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /*box-shadow: 0 0 25px #939c72;*/
    padding: 5px;
    margin-top: 0;
    margin-bottom: 20px;
    min-height: 330px;
}


.home-improvement-title-a {
    text-decoration: none;
    color:#fff;
}




h3.home-improvement-title {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font-variant: small-caps;
    font-size: 17px;
    font-weight:bold;
}

p.home-improvement-desc {
    font-size: 13px;
    line-height: 1.2;
    text-align: justify;
    padding: 10px 0;
    color: #fff;
}




/*Car Repairs*/


.main-content td.no-border {
border-bottom: none;
}

.service-list dt {
background: url(img/task-check.png) 0px 2px no-repeat;
/*padding: 0 10px 4px 15px;*/
text-align: left;
font-size: 15px;
padding-left: 20px;
line-height: 22px;
}
.service-list dd {
font-size: 13px;
padding-left:40px;
margin-bottom:5px;
}

/*.main-content td.no-border {
border-bottom: none;
}*/

.no-margin-table {
margin: 0 auto;
margin: 0 auto;
}

.icons {
margin: 0 auto;
padding: 0px 0px 0px 0px;
}
/*
.main-content .top-border {
width: 280px;
height: 5px;
border-bottom: none;
padding: 0;
}

.main-content td {
background-color: #ffffff;
padding: 5px 0 5px 0;
}*/

/*Nitrofill*/
.inner {
width: 100%;
margin: 0 auto;
position: relative;
}


#top {
height: 150px;
width: 100%;
}

#top-contact {
background: url(img/call-us.png) left center no-repeat;
height: 23px;
padding-left: 30px;
display: inline-block
}


#alert {
background: #deefda;
color: #000;
padding: 10px 0;
position: relative;
text-align: left;
font-size: 13px;
}

#call-us {
background: #deefda;
color: #000;
padding: 10px 0;
position: relative;
text-align: right;
font-size: 20px; 
}

#slideshow {
height: 308px;
width: 100%;
border-bottom: 15px solid #DEEFDA;
background: url(img/slideshow.jpg) top center no-repeat;
}

#promo {
margin-top: -115px;
position: relative;
}

.promo-items .span3 img, #promo2 img {
border: 15px solid #DEEFDA;
border-radius: 100%;
max-width: 80%;
text-align: center;
display:block;
margin: auto;
}

#promo h3, #promo2 h3 {
font-size: 17px;
margin: 10px 0;
color: #58ad45;
text-align: center;
}

#promo2 {
margin-top: 30px;
padding-top: 30px;
border-top: 1px solid #DDD;
}

body{
    background-color: white;
}



.entry-title:before, .widget-title:before {
    content: none !important;
}
.entry-title{
    color: black;
}

/*preventive maintenance*/
.about {
background: #fcfcfc;
border: 1px solid #dbd8d9;
padding: 0 0 26px 0;
margin:10px;
}
.about .inside {
padding: 10px 20px;
}



